<!DOCTYPE html>
<html>
  <head>
    <title>Online Store</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
      <nav
        class="navbar navbar-fixed-top navbar-expand-sm navbar-light bg-light px-5"
      >
        <div class="container-fluid">
          <!-- Navbar brand -->
          <a href="/" class="navbar-brand mt-2 mt-lg-0">
            <img src="images/logo-128.png" alt="Logo" height="50" />
          </a>
          <!-- Left links -->
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="navbar-brand"></li>
            <% categories.forEach(category=> { %>
            <li class="nav-item">
              <a class="nav-link" href="/<%= category.id %>">
                <%= category.name %>
              </a>
            </li>
            <% }); %>
          </ul>
          <!-- Left links -->
        </div>
      </nav>
      <div class="p-5 text-center bg-light">
        <h1 class="mb-3 text-secondary">Online Store</h1>
      </div>
    </header>
  </body>
</html>
